#===============================================================================
# Copyright (c)  2014 Geoscience Australia
# All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither [copyright holder] nor the names of its contributors may be
#       used to endorse or promote products derived from this software
#       without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#===============================================================================

[JOB]

job_type              = KILLER_RABBIT
job_runner_root       = /projects/v10/datacube/JR-STACK
app_path              = not_used
input_root            = not_used
product_root          = /g/data/v10/mdba
log_root              = /projects/v10/datacube/JR-STACK/log
#product_subdirectory  = 2000-01
#product_subdirectory  = bucket
product_subdirectory  =
job_name              = mdba
notification_email    = alex.ip@ga.gov.au
dynamic_configuration = false
active                = true

job_template = #!/bin/bash
 #PBS -P v10
 #PBS -q normal
 #PBS -l walltime=02:00:00,ncpus=1,vmem=4096MB
 #PBS -wd
 module load python/2.7.1
 module load gdal/1.9.2
 export PYTHONPATH=/home/547/axi547/ULA3_dev/common:/projects/v10/apps/psycopg2/2.4.5/lib/python:/projects/v10/GASoftware/pyephem-3.7.5.1/lib/python2.7/site-packages:/apps/gdal/1.9.0/lib/python2.7/site-packages:/apps/gdal/1.9.0/bin
 export MODULEPATH=/projects/v10/mitch-sys/opt/modules:/apps
 module load py-dev-tools
 python /projects/v10/datacube/index_stacker.py -x %(__j_x)s -y %(__j_y)s -s %(__j_s)s -e %(__j_e)s -o %(__j_o)s
 # Submit the next job
 sleep 2
 %(__j_next_job)s
